

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    width: 1440;
    height: 605;
    background-color: rgb(0, 0, 63);
    color: aqua;
    font-family: 'Raleway', sans-serif;
}
